# Bỏ qua thư mục cấu hình của IDE
.idea/

# Bỏ qua toàn bộ file dữ liệu (bao gồm cả file moquistto.db) nhưng giữ lại thư mục
data/*
!data/.gitkeep

# Bỏ qua toàn bộ file log nhưng giữ lại thư mục
log/*
!log/.gitkeep